header {
    width: 100%;
    height: 60px;
    background-color: #0658aa;
}

.header-menubar {
    padding-top: 6px;
    padding-left: 6px;
    float: left;
}

.glyphicon-home {
    color: white;
    font-size: 24px;
    border: 1px solid;
    border-color: white;
    border-radius: 4px;
    padding: 10px;
    padding-right: 11px;
}

.glyphicon-home:hover {
    cursor: pointer;
    opacity: 0.5;
}

.account-bar {
    float: right;
    color: white;
}