.page {
    margin: 0% 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr 3fr;
}

.page-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 1px black dotted;
    margin: 0;
}

.masthead {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    border: 1px black dotted;
}

.main-content {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 1px black dotted;
}

.sidebar {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 1px black dotted;
}

.footer {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 1px black dotted;
}