<div (keyup.enter)="login()">
    <div class="background-box">
        <label class="form-label">Username</label>
        <input class="form-input" type="text" [(ngModel)]="username" />

        <label class="form-label">Password</label>
        <input class="form-input" type="password" [(ngModel)]="password" />

        <div class="button-div">
            <button class="form-btn" (click)="login()">Login</button>
            <button class="form-btn register-btn" (click)="register()">Register</button>
        </div>
    </div>

    <div class="error-div">
        <app-feedback-box [messageToUser]="error" [typeName]="'error'"></app-feedback-box>
        <br />
        <app-feedback-box [messageToUser]="'Do not use sensitive information as login information. All info is stored unsafely.'" [typeName]="'error'"></app-feedback-box>
    </div>
</div>