<app-input-list></app-input-list><br />
<button (click)="updateInput()">Reset and load list</button><br /><br />
<!--<input type="number" [(ngModel)]="addressIndex" [max]="maxAddressesIndex" min="0" (ngModelChange)="updateOutput()" /><br />-->
<app-choose-answer (answerChoosen)="chooseAnswer($event)"></app-choose-answer><br />
<button (click)="skipAnswer()" *ngIf="currentQuestion != null">Skip question</button>
<div>
  <p *ngIf="lastQuestion != null && lastQuestion['status'] != null" [ngClass]="{'redColor': lastQuestion['status'] == 'Incorrect', 'greenColor': lastQuestion['status'] == 'Correct' }">{{lastQuestion['status']}}!</p>
</div>
<p>Answered {{correctAnsweredQuestions.length}} correct and had {{incorrectAnsweredQuestions.length}} incorrect. <br />
  Which is {{correctAnsweredQuestions.length + incorrectAnsweredQuestions.length}} questiones answered in total!</p>
<p *ngIf="lastQuestion != null">Last question was: {{lastQuestion['address']}} and the correct answer was: {{lastQuestion['answer']}}.</p>
<br />
<app-user-statistic (saveClicked)="saveStatistics()"></app-user-statistic>