// Import variables from styles.scss:
@import "../../../../../../../styles.scss";

.btn-row-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.dashboard-div {
    background-color: whitesmoke;
    border: 2px solid $primary-color;
    padding: 10px;
    margin-bottom: 10px;
}

.off-btn {
    width: 50%;
    float: right;
}

.connection-glyph {
    width: 50%;
    font-size: 24px;
    color: lightgray;
}

.connection-label {
    margin-bottom: 0px;
    margin-left: 10px;
}

.button-row {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.row-btn {
    width: 100%;
    outline: none;
}

.tab-selected {
    background-color: $secondary-color;
}

.component-div {
    margin-bottom: 70px;
    min-height: 450px;
}

.connected {
    color: $secondary-color;
}