.dashboard-grid{
    width: 50%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 212);
    padding: 10px;
    border-radius: 4px;
}

.grid-item{
    background-color: whitesmoke; 
    font-size: 15px;
    text-align: center;
    padding: 10px;
    height: 40px;
    border-radius: 4px;
}
