<div>
  <!-- Drone overview table -->
  <table class="table table-striped">
    <tr>
      <th class="title-th padding-th" colspan="3">
        Drones
      </th>
      <th class="title-th">
        <button class="form-header-btn float-right refresh-button" (click)="refresh()">
          Refresh 
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </th>
    </tr>
    <tr>
      <th *ngFor="let header of headers" class="sub-title-th">
        {{header | propercase}}
      </th>
    </tr>
    <tr *ngFor="let drone of availableDrones; let i = index;">
      <td>{{drone['ip']}}</td>
      <td>{{drone['port']}}</td>
      <td>{{drone['status']}}</td>
      <td>
        <button *ngIf="!rpicon.connectedRPI" class="form-sub-btn" (click)="createInitialConnectionToDrone(i)">Connect</button>
        <button *ngIf="drone['status'] == 'connected'" class="form-sub-btn disconnect-btn" (click)="disconnectFromDrone(i)">Disconnect</button>
      </td>
    </tr>
  </table>

  <!-- error box -->
  <app-feedback-box [messageToUser]="error" [typeName]="'error'"></app-feedback-box>
</div>